---
import type {GetStaticPaths, InferGetStaticPropsType} from "astro";
import {getCollection, render} from "astro:content";
import Layout from "../../layouts/Layout.astro";
import TagList from "../../components/TagList.astro";

export const getStaticPaths = (async () => {
  const blogPosts = await getCollection("blog", (entry) => !entry.data.draft);
  return blogPosts.map((post) => ({params: {id: post.id}, props: {post}}));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

function formatDate(date: Date) {
  return new Intl.DateTimeFormat("en-US").format(date);
}

const {post} = Astro.props;
const {Content, remarkPluginFrontmatter: frontmatter} = await render(post);
const pubDate = formatDate(post.data.pubDate);
---

<Layout
  title={`${post.data.title} | Ryan Seipp`}
  description={post.data.description}
  article={{published_time: pubDate}}
>
  <h1 class="mb-2 text-4xl text-cyan-600 dark:text-cyan-400">
    {post.data.title}
  </h1>
  <h2 class="text-xl">{post.data.description}</h2>
  <span class="flex items-center gap-2 text-sm font-light">
    <time datetime={pubDate}>{pubDate}</time>
    <span aria-hidden="true">&middot;</span>
    <span>{frontmatter.minutesRead}</span>
  </span>
  {post.data.categories ? <TagList tags={post.data.categories} /> : null}
  <div class="content prose prose-zinc mt-12 dark:prose-invert">
    <Content />
  </div>
</Layout>

<style is:global>
  html.dark .astro-code,
  html.dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }

  @media (min-width: 850px) {
    .astro-code {
      margin-left: calc(-0.5 * 83ch + 50%);
      margin-right: calc(-0.5 * 83ch + 50%);
    }
  }

  @media (min-width: 900px) {
    img {
      width: 90ch;
      max-width: 90ch;
      margin-left: calc(-0.5 * 90ch + 50%);
      margin-right: calc(-0.5 * 90ch + 50%);
    }
  }

  table {
    display: block;
    overflow-x: auto;
  }

  .prose :where(img + em) {
    display: block;
    text-align: center;
  }
</style>
