---
import type {Experience} from "./ExperienceAtCompany.astro";
import ExperienceAtCompany from "./ExperienceAtCompany.astro";
import truefit from "../images/truefit.png";

type Props = {
  class?: astroHTML.JSX.HTMLAttributes["class"];
};

const props = Astro.props;

const experience: Experience[] = [
  {
    name: "Truefit",
    url: "https://truefit.io",
    image: truefit,
    positions: [
      {
        title: "Senior Software Engineer",
        startDate: new Date(2024, 2),
        notes: [
          "Took Kubernetes cluster from idea to deployment in under two weeks, supporting several environments and capable of processing hundreds of financial reports per minute.",
          "Optimized time to produce financial reports by 50%, allowing further feature development and saving thousands in compute costs per month.",
          "Deployed GitOps and security best-practices with ArgoCD, Kyverno, Cosign, External Secrets, and Cilium.",
          "Implemented observability with OpenTelemetry traces, metrics, and logs.",
          "Determined process for automated testing of complex distributed system.",
        ],
      },
      {
        title: "Software Engineer",
        startDate: new Date(2020, 9),
        endDate: new Date(2024, 2),
        notes: [
          "Developed event-driven distributed systems to control physical hardware in hostile environments using .NET Core and React.",
          "Increased throughput of async Rust image recognition service by 300%.",
          "Implemented authentication and authorization for multi-tenant SaaS.",
          'Trusted as the "go-to" person for troubleshooting Docker and networking.',
        ],
      },
      {
        title: "Jr. Software Engineer",
        startDate: new Date(2018, 6),
        endDate: new Date(2020, 9),
        notes: [
          "Satisfied clients, resulting in the largest proportion of repeat contracts",
        ],
      },
      {
        title: "Software Development Intern",
        startDate: new Date(2018, 5),
        endDate: new Date(2018, 6),
        notes: [
          "Demonstrated ability to learn and operate in fast-paced, agile environment",
        ],
      },
    ],
  },
];
---

<section class={props.class}>
  <h2 class="mb-4 text-xl">Experience</h2>
  {
    experience.map((e) => (
      <ExperienceAtCompany
        name={e.name}
        url={e.url}
        image={e.image}
        positions={e.positions}
      />
    ))
  }
</section>
