---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import {ViewTransitions} from "astro:transitions";
import "@fontsource-variable/inter";
import "@fontsource-variable/source-code-pro";

type ArticleProps = {
  published_time?: string;
  modified_time?: string;
  tags?: string[];
};

type Props = {
  title: string;
  description: string;
  article?: ArticleProps;
};

const {title, description, article} = Astro.props;
const shortTitle = title.split(" | ")[0];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="twitter:creator" content="@ryan_seipp" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={shortTitle} />
    <meta name="twitter:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={shortTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={article ? "article" : "website"} />
    {
      article?.published_time ? (
        <meta
          property="article:published_time"
          content={article.published_time}
        />
      ) : null
    }
    {
      article?.modified_time ? (
        <meta
          property="article:modified_time"
          content={article.modified_time}
        />
      ) : null
    }
    {article ? <meta property="article:author" content="Ryan Seipp" /> : null}
    {article ? <meta property="article:section" content="Technology" /> : null}
    {
      article?.tags
        ? article.tags.map((tag) => (
            <meta property="article:tag" content={tag} />
          ))
        : null
    }
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={Astro.url.href} />
    <script is:inline>
      if (localStorage.getItem("pref-theme") === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
    <script>
      document.addEventListener("astro:after-swap", () => {
        if (localStorage.getItem("pref-theme") === "dark") {
          document.documentElement.classList.add("dark");
        }
      });
      document.addEventListener("astro:page-load", () => {
        if (
          localStorage.getItem("pref-theme") === "dark" ||
          (!("pref-theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      });
    </script>
    <ViewTransitions />
  </head>
  <body
    class="mx-4 flex h-screen flex-col bg-zinc-100 text-zinc-900 dark:bg-zinc-800 dark:text-zinc-100 md:mx-auto md:max-w-prose"
  >
    <Navigation />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
